footer {
  display: flex;
  position:relative;
  background-color: black;
  width: 100%;
  height: 25vw;
  bottom: -270vw;
}
@media (max-width: 768px){
  footer{
    height: 55vw;
  }
}

@media(min-width:768px){
  .footer-nav{
    padding-top: 1vw;
    padding-left: 7vw;
  }
}

.footer-nav{
  display: flex;
  flex-direction: row;
  justify-self: center;
  position: absolute;
  left: 5vw;
}
.footer-nav a {
  color: #545050;
  text-decoration: none;
  display: block;
  font-size: 2.5vw;
  font-weight: 100;
  font-family:Arial, Helvetica, sans-serif;
  padding-right: 5vw;
}

.footer-nav a:hover{
  text-decoration: underline;
  text-decoration-color:#000;
}

.copy-right {
  color: #545050;
  font-size: 3vw;
  left: 21.5vw;
  position: absolute;
  justify-self: center;
  top: 20vw;
 }

 .footer-social{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 90%;
  height: 10vw;
  left: 3vw;
  top: 9vw;
  justify-content: space-evenly;
 }
 .footer-ig, .footer-yt, .footer-sc{
  position: relative;
  bottom: 0;
  margin-left: 1vw;
 }
 .footer-sc{
  top: -1vw;
 }
 .footer-icon{
  width: 8vw;
  height: 8vw;
  fill: #545050;
 }
 