footer {
  display: flex;
  position:relative;
  background-color: rgb(0, 0, 0);
  width: 100%;
  bottom: 0vh;
  z-index: 10;
}

.footer-nav{
  display: flex;
  flex-direction: row;
  justify-self: center;
  position: relative;
  left: 5vw;
}
.footer-nav a {
  color: #545050;
  text-decoration: none;
  display: block;
  font-size: 2.5vw;
  font-weight: 100;
  font-family:Arial, Helvetica, sans-serif;
  padding-right: 5vw;
}

.footer-nav a:hover{
  text-decoration: underline;
  text-decoration-color:#545050;
}

.copy-right {
  color: #545050;
  font-size: 3vw;
  left: 21.5vw;
  position: absolute;
  justify-self: center;
  top: 20vw;
 }

 .footer-social{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 90%;
  height: 10vw;
  left: 3vw;
  top: 9vw;
  justify-content: space-evenly;
 }
 .footer-ig, .footer-yt, .footer-sc{
  position: relative;
  bottom: 0;
  margin-left: 1vw;
 }
 .footer-icon{
  width: 8vw;
  height: 8vw;
  fill: #545050;
 }
 