html{
  scroll-behavior: smooth;
}
p {
  font-family: "EB Garamond", serif;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding-top: 90px; 
  height: 100%;
  background-color: #1E1E1E;
  color: #EAEAEA;
  overscroll-behavior:none;
}
main {
  flex: 1; /* Pushes the footer down */
}