html{
  scroll-behavior: smooth;
}
p {
  font-family: "EB Garamond", serif;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding-top: 90px; 
  height: 355vw;
  background-color: #1E1E1E;
  background: linear-gradient(to bottom, #1E1E1E 90%, #000000 10%);
  color: #EAEAEA;
  overscroll-behavior:none;
}
