header {
  height: 90px;
  
  display: flex;
  flex-direction: row; /*Default for flexbox's, ie. not needed*/
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  z-index: 99;

  background-color: #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  padding-right: 20px;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo-cont { /* Technically outside of header in HTML, but still appears on header */
  width: 150px;
  height: 90px;
  overflow: hidden;
  background-color: #000000;
  cursor: pointer;
  border: none;

  position: fixed;
  top: 0px;
  right: -80px;
  left: auto;
  transform: translateX(-50%);
  Z-index: 100;
  object-fit: cover;
}
.header-logo { /**/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
}