.lessons-page{
  align-items: center;
}

.lessons-instruments{
  text-align: center;
  padding-top: 4vw;
  margin-bottom: 3vw;
  font-size: 3vw;
}
.lesson-box{
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-radius: 4vw;
  padding: 2vw;
  margin-bottom: 5vw;
  width: 90vw;
  left: 3vw;

}
.lesson-title{
  position: relative;
  margin-bottom: 1vw;
  margin-left: 3vw;
  font-size: 4vw;
  font-weight: 1000;
  text-align: center;
  width: 80vw;
}
.lesson-paragraph{
  position: relative;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 5vw;
  font-family: 'Courier New', Courier, monospace;
  width: 90vw;
}
.lesson-button{
  position: relative;
  background-color: #212121;
  color: white;
  font-weight: 800;
  font-size: 2.5vw;
  width: 37vw;
  height: 7vw;
  border: color(white);
  border-style:solid;
  border-radius: 25vw;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  left: 7vw;
}
.lesson-button:Hover{
  box-shadow: 0 .5vw .5vw rgba(255, 255, 255, 0.45);
  transform: translateY(-.7vw) scale(1.05);
}
@media(min-width: 750px){
  .lessons-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%; padding-right: 10%;
  }

  .lessons-instruments{
    padding: 3vw;
    padding-top: 4vw;
    margin-bottom: 3vw;
    margin-left: 44vw;
    font-size: 2.2vw;
  }

  .lessons-instruments{
    margin-left:4.5vw;
  }
  .lesson-box{
    align-self: center;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 4vw;
    padding: 2vw;
    margin-bottom: 5vw;
    width: 30vw;
    margin-left: 2.5vw;
    min-height: 40vw;
  }
  .lesson-title{
    position: relative;
    margin-bottom: 1vw;
    font-size: 3vw;
    font-weight: 1000;
    width: 80vw;
    left: -28vw;
  }
  .lesson-paragraph{
    font-size: 1.7vw;
    width: 100%;
  }
  .lesson-button{
    font-size: 1.7vw;
    width: 14vw;
    left: 0vw;
  }
}

.terms-conditions{
  text-align: center;
  font-size: 2.2vw;
  max-width: 80%;
  margin-left: 10%;
}