body{
  height: 100%;
}

.map-adress {
  width: 350px;
  position: absolute;
  left: min(8vw, 20%); top: 25%;
  font-size: larger;
  font-weight: 200;
  text-align: center;
  color: #EAEAEA;
}
.map {
  height: 550px;
  width: 350px;
  max-width: 80%;
  position: absolute;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  left: min(32vw, 20%); top: 30%;
  height: 350px;
  margin-top: 25px;
}



@media screen and (max-width: 1000px)  {
  .request-form-cont{
    margin-left: 11vw;;
  }
  .map-adress {
    width: 210px;
    top: 25%;
    left: 30vw;
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .map {
    width: min(70vw, 400px);
    top: 110vw; left: 14vw;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  }
  
  .mail,
  .phone-num {
    left: 1.5vw;
    width: max(2vw, 250px);
    font-size: clamp(7px, 3vw, 20px);
    position: relative;
    margin-top: 2vw;
  }
  .mail {
    margin-left: 0px;
  }
  
  .line1 {
    width:  min(75vw, 400px);
    top: 5%; margin-left: 13.5vw;
    position: relative;
  }

  .request-form-cont {
    width: min(75vw, 400px);
    top: 10%; left: 2vw;
    position: relative;
  }
}